<div class="buttons-wrapper">
    <a href="/" class="logo"> HasteBin</a>
    <div class="buttons">
        <a href="/new" class="btn">New</a>
        <% if(locals.canSave){ %>
        <button class="btn" type="submit">Save</button>
        <% } %>
        <% if(locals.id!= null){ %>
            <a href="/a/update/<%= locals.id %>" class="btn">Update</a>
        <% } %>  
        <% if(locals.id!= null){ %>
            <a href="<%= locals.id %>/duplicate" class="btn">Duplicate</a>
        <% } %> 
        <% if(locals.canUpdate){ %>
            <button class="btn" type="submit">Save Changes</button>
        <% } %>
    </div>
</div>